.version.index /* version checker */
{
	color: #0000F5;
	background-color: #E5FE47;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 502px;
	min-height: 90px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 229px 390px;
}

#u99
{
	z-index: 2;
	width: 502px;
	background-color: transparent;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

